<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Commodity Add</title>
        <link rel="shortcut icon" href="../static/icon/icon.jpg" type="image/x-icon" />
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"
        ></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css"
            integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0="
            crossorigin="anonymous"
        />
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"
            integrity="sha256-JLmknTdUZeZZ267LP9qB+/DT7tvxOOKctSKeUC2KT6E="
            crossorigin="anonymous"
        ></script>
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-base64@2.5.2/base64.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    </head>
    <body>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
            <img alt="shop.png" height="35" src="../static/icon/shop.png" />
            <h5 class="my-0 mr-md-auto font-weight-normal"><a href="../index.html">ISHOPPING</a></h5>
            <a href="seller_index.html" class="btn btn-outline-primary">SellerHome</a>
            <a href="commodity_edit.html" class="btn btn-outline-primary ml-3">CommodityAdd</a>
            <a href="order_list.html" class="btn btn-outline-primary ml-3">OrderList</a>
            <a href="shop_profile.html" class="btn btn-outline-primary ml-3">Profile</a>
        </div>

        <div class="container" id="container">
            <!-- <div @submit.prevent="greet">
                `greet` 是在下面定义的方法名
                <label for="modify">edit or add</label>
                <button v-on:click="greet()">{{msg}}</button>
              </div>
              <div class="form-group" id = 'curl' @submit.prevent="submit">
                <label for="name">Commodity URL</label>
                <input type="text" class="form-control" id="gid" placeholder="Commodity URL" v-model="url" />
                <button v-on:click="submit()" id = "submit">submit</button>
            </div> -->
            <form @submit.prevent="confirm">
                <!-- <div class="form-group">
            <label for="name">Category ID</label>
            <input type="text" class="form-control" id="name" placeholder="name" v-model="name">
        </div> -->
                <!-- <div class="form-group">
                    <input type="radio" id="modify" value="0" v-model="edit_type" />
                    <label for="modify">edit item</label>
                    <br />
                    <input type="radio" id="add" value="1" v-model="edit_type" />
                    <label for="add">add item</label>
                    <br />
                </div> -->
                <div class="form-group" v-if="isModifying">
                    <label for="name">Category ID</label>
                    <select v-model="category_id">
                        <option v-for="option in options" v-bind:value="option.category_id">{{ option.category_name }}</option>
                    </select>
                </div>
                <div class="form-group" id = 'cid'>
                    <label for="name">Commodity ID</label>
                    <!-- <input type="number" class="form-control" id="gid" placeholder="Commodity id" v-model="gid" /> -->
                    <p>{{gid}}</p>
                </div>
                <div class="form-group">
                    <div class="item-media"><i class="icon icon-form-name"></i></div>
                    <div class="item-inner">
                        <div class="item-title label">thumbnails</div>
                        <div class="item-input">
                            <input type="text" id="small_img" placeholder="thumbnail" v-model="thumbnail" />
                        </div>
                    </div>
                </div>
                <!-- <form name="uploadForm">
            <div class="item-title label">thumbnails</div>
            <table>
              <tbody>
                <tr>
                  <td><img id="uploadPreview" style="width: 100px; height: 100px;" src="" alt="Image preview" /></td>
                  <td><input id="uploadImage" type="file" name="myPhoto" onchange="loadImageFile();" /></td>
                </tr>
              </tbody>
            </table>
        
            <p><input type="submit" value="Send" /></p>
          </form> -->
                <div class="form-group">
                    <div class="item-media">
                        <i class="icon icon-form-email"></i>
                    </div>

                    <div class="item-inner detail-img-div">
                        <div class="item-title label">detail_img</div>
                        <div class="item-input" id="detail_img">
                            <input type="text" id="1" class="detail_img" v-model="details[0]" />
                            <input type="text" id="2" class="detail_img" v-model="details[1]"/>
                            <input type="text" id="3" class="detail_img" v-model="details[2]"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name">Commodity Name</label>
                    <input type="text" class="form-control" id="name" placeholder="name" v-model="name" />
                </div>
                <div class="form-group">
                    <label for="inventory">Commodity Inventory</label>
                    <input type="number" class="form-control" id="inventory" placeholder="inventory" v-model.number="inventory" />
                </div>
                <div class="form-group">
                    <label for="introduction">Commodity Introduction</label>
                    <input type="text" class="form-control" id="introduction" placeholder="introduction" v-model="introduction" />
                </div>
                <div class="form-group">
                    <label for="price">Commodity Price</label>
                    <input type="number" min="0.00" step="0.01" class="form-control" id="price" placeholder="price" v-model.number="price" />
                </div>
                <div class="form-group">
                    <button class="btn btn-outline-primary" id=5>Confirm</button>
                    <button class="btn btn-outline-danger ml-3" type="button" onclick="reloadPage()">Reset</button>
                    <script type="application/javascript">
                        function reloadPage() {
                            location.reload()
                        }
                    </script>   
                </div>
            </form>
        </div>
        <script src="../static/js/common.js"></script>
        <script>
        </script>
        <script>
            var imgData = ""
            // function ToBase64(a) {
            //     var filename = $("#" + a).val()
            //     if (!filename || !(filename.endsWith(".jpg") || filename.endsWith(".png") || filename.endsWith(".gif"))) {
            //         alert("Can only upload image file.")
            //     }
            //     var img = document.getElementById(a)
            //     //console.log(img)
            //     var imgFile = new FileReader()
            //     imgFile.readAsDataURL(img.files[0])

            //     var adlist = []
            //     imgFile.onload = function () {
            //         doSomething(this.result)
            //     }
            //     var doSomething = function (dataURL) {
            //         //console.log(dataURL)
            //         imgData = dataURL
            //     }
            //     console.log(dataURL)
            // }
            const app = new Vue({
                el: "#container",
                data: {
                    category_id: 0,
                    isModifying: false,
                    gid: 0,
                    name: "",
                    inventory: 0,
                    introduction: "",
                    price: 0.0,
                    thumbnail: "",
                    details: new Array(),
                    options: new Array(),
                    edit_type: 0,
                    msg:'edit',
                    time:0,
                    url:''
                },
                created: function () {
                    const that = this
                    var url = window.location.href
                    var str = url.split('cid=')[1];
                        if(str==null){
                            alert("wrong url")
                            return 
                        } 
                        else if(str=="0"){
                            this.clear()
                            this.msg = 'add'
                            $("#curl").hide()  
                            $("#cid").hide()
                            this.gid = 0
                            this.commodity_id = 0
                            this.edit_type = 1
                        }
                        else{
                            this.gid = parseInt(str)
                            //this.clear()
                            this.msg = 'edit'
                            $("#curl").show()
                            $("#cid").show()
                            axios.interceptors.response.use(function (resp) {
                            // 对响应数据做点什么
                            if(resp.data.msg=="commodity_detail searching error"){
                                 alert("invalid id")
                                 $("#5").hide()
                            }
                            return resp;
                        }, function (error) {
                            return resp;
                        })
                        axios
                        .get(api_url + "/commodity_detail", {
                        params: {
                            commodity_id:this.gid
                        }})
                        .then(function (resp) {
                            // handle success
                            if (resp.data.code === 0) {
                                that.name = resp.data.data.name
                                that.inventory = resp.data.data.inventory
                                that.price = resp.data.data.price
                                that.introduction = resp.data.data.introduction
                                that.thumbnail = resp.data.data.thumbnail
                                that.details= resp.data.data.images
                            } else {
                                console.log(resp.data.msg)
                            }
                        })
                        .catch(function (resp) {
                            // handle error
                            console.log(resp.data.msg)
                        })
                        // var arr = ['1','2','3']
                        // this.details = arr
                        $('#small_img').val(this.thumbnail)
                        for (var i =0; i < 3; i++) {
                            $("#" + String(i + 1)).val(this.details[i])
                        }
                        $('#name').val(this.name)
                        $('#inventory').val(this.inventory)
                        $('#introduction').val(this.introduction)
                        $('#price').val(this.price) 
                        }
                    console.log("search commodity")
                    that.isModifying = false
                    axios
                        .get(api_url + "/category_list")
                        .then(function (resp) {
                            // handle success
                            if (resp.data.code === 0) {
                                that.options = resp.data.data.category_list
                                that.isModifying = true
                            } else {
                                console.log(resp.msg)
                            }
                        })
                        .catch(function (resp) {
                            // handle error
                            console.log(resp.msg)
                        })
                },
                methods: {
                    // submit:function(){
                    //     const that = this
                    //     var str = this.url.split('=')[1];
                    //     if(str==null){
                    //         alert("wrong url")
                    //         return 
                    //     } 
                    //     this.gid = parseInt(str)
                    //     axios
                    //     .get(api_url + "/commodity_detail", {
                    //     params: {
                    //         commodity_id:this.gid
                    //     }})
                    //     .then(function (resp) {
                    //         // handle success
                    //         if (resp.data.code === 0) {
                    //             that.name = resp.data.data.name
                    //             that.inventory = resp.data.data.inventory
                    //             that.price = resp.data.data.price
                    //             that.introduction = resp.data.data.introduction
                    //             that.thumbnail = resp.data.data.thumbnail
                    //             that.details[0] = resp.data.data.images[0]
                    //             that.details[1] = resp.data.data.images[1]
                    //             that.details[2] = resp.data.data.images[2]
                    //         } else {
                    //             console.log(resp.data.msg)
                    //         }
                    //     })
                    //     .catch(function (resp) {
                    //         // handle error
                    //         console.log(resp.data.msg)
                    //     })
                    //     //测试代码
                    //     // this.name = 'resp.data.data.name'
                    //     // this.inventory = 2
                    //     // this.price = 2.2
                    //     // this.introduction = 'resp.data.data.introduction'
                    //     // this.thumbnail = 'resp.data.data.thumbnail'
                    //     // var arr = ['1','2','3']
                    //     // this.details = arr
                    //     $('#small_img').val(this.thumbnail)
                    //     for (var i =0; i < 3; i++) {
                    //         $("#" + String(i + 1)).val(that.details[i])
                    //     }
                    //     $('#name').val(this.name)
                    //     $('#inventory').val(this.inventory)
                    //     $('#introduction').val(this.introduction)
                    //     $('#price').val(this.price) 
                    // },
                    clear:function(){
                        this.name = ''
                        this.inventory = 0
                        this.price = 0
                        this.introduction = ''
                        this.thumbnail = ''
                        var arr = new Array()
                        this.details = arr
                        for (var i = 0; i < 3; i++) {
                            $("#" + String(i + 1)).val('')
                        }
                    },
                    greet: function () {
                    this.time = this.time+1;
                        if(this.time%2==0){
                            this.clear()
                            this.msg = 'edit'
                            $("#curl").show()
                            $("#cid").show()
                        }
                        else{
                            this.clear()
                            this.msg = 'add'
                            $("#curl").hide()  
                            $("#cid").hide()
                            this.gid = 0  
                    }
                    },
                    confirm: function () {
                        // var tn = $('#small_img');
                        // this.thumbnails = ToBase64('small_img')
                        // console.log(this.thumbnail)
                        var de = $("#1.detail_img")
                        for (var i = 0; i < 3; i++) {
                            this.details[i] = $("#" + String(i + 1)).val()
                            // console.log(this.details[i])
                        }
                        const token = window.localStorage.getItem("ishopping-token")
                        axios.defaults.headers.common = { Authorization: `${token}` }
                        axios.interceptors.response.use(function (response) {
                            console.log(response)
                            return response
                        })
                        // console.log(this.category_id),
                        // console.log(parseInt(this.gid)),
                        // console.log(this.name),
                        // console.log(this.inventory),
                        // console.log(this.introduction),
                        // console.log(this.price),
                        // console.log(this.thumbnail),
                        // console.log(this.details),
                        // console.log(parseInt(this.time%2))
                        axios({
                            method: "post",
                            url: api_url + "/seller/commodity_edit",
                            data: {
                                category_id: parseInt(this.category_id),
                                commodity_id: parseInt(this.gid),
                                commodity_name: this.name,
                                inventory: this.inventory,
                                introduction: this.introduction,
                                price: this.price,
                                thumbnail: this.thumbnail,
                                image: this.details,
                                edit_type: this.edit_type,
                            },
                        })
                            .then(function (resp) {
                                console.log(resp)
                                // handle success
                                if (resp.data.code == 0) {
                                    console.log("OK!")
                                    alert("OK")
                                } else {
                                    console.log(resp.data.msg)
                                    alert(resp.data.msg)
                                }
                            })
                            .catch(function (resp) {
                                // handle error
                                console.log(resp)
                                alert(resp.data.msg)
                            })
                    },
                    reset: function () {
                        this.name = ""
                        this.inventory = 0
                        this.introduction = ""
                        this.price = 0.0
                    },
                },
            })
        </script>
        <!-- <script type="text/javascript">
            ;(oFReader = new FileReader()),
                (rFilter = /^(?:image\/bmp|image\/cis\-cod|image\/gif|image\/ief|image\/jpeg|image\/jpeg|image\/jpeg|image\/pipeg|image\/png|image\/svg\+xml|image\/tiff|image\/x\-cmu\-raster|image\/x\-cmx|image\/x\-icon|image\/x\-portable\-anymap|image\/x\-portable\-bitmap|image\/x\-portable\-graymap|image\/x\-portable\-pixmap|image\/x\-rgb|image\/x\-xbitmap|image\/x\-xpixmap|image\/x\-xwindowdump)$/i)
            oFReader.onload = function (oFREvent) {
                document.getElementById("uploadPreview").src = oFREvent.target.result
            }
            function loadImageFile() {
                if (document.getElementById("uploadImage").files.length === 0) {
                    return
                }
                var oFile = document.getElementById("uploadImage").files[0]
                if (!rFilter.test(oFile.type)) {
                    alert("You must select a valid image file!")
                    return
                }
                oFReader.readAsDataURL(oFile)
            }
        </script> -->
    </body>
</html>
