<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>seller id_search</title>
        <link rel="shortcut icon" href="../static/icon/icon.jpg" type="../image/x-icon" />
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"
        ></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css"
            integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0="
            crossorigin="anonymous"
        />
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"
            integrity="sha256-JLmknTdUZeZZ267LP9qB+/DT7tvxOOKctSKeUC2KT6E="
            crossorigin="anonymous"
        ></script>
        <script src="../static/js/common.js"></script>
    </head>

    <body>
        <div id="app" >
            <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
                <img alt="shop.png" height="35" src="../static/icon/shop.png" />
                <h5 class="my-0 mr-md-auto font-weight-normal"><a href="../index.html">ISHOPPING</a></h5>
                <a href="admin_index.html" class="btn btn-outline-primary">AdminHome</a>
            </div>
            <div class="row mt-4">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th style="float: right;" >
                              <input type="text" v-model="shop_name" placeholder="shop name" >
                                <button type="submit" class="btn btn-primary ml-4 mb-2" @click="confirmBtnEvent">Confirm</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-if="seen">
                            <td>{{ user_id }}</td>
                            <th style="float: right;" >
                            <td><button class="btn btn-primary ml-4 mb-2" @click="edit(user_id)" >Ban</button> </td>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <footer class="pt-4 my-md-5 pt-md-5 borde   r-top">
                <div class="row">
                    <div class="col-12 col-md">
                        <h5>Copyright&copy;2021</h5>
                        <p>
                            <a target="_blank">
                                <i class="fa fa-leaf"></i>
                                Blog
                            </a>
                            -
                            <a target="_blank">
                                <i class="fa fa-github"></i>
                                Github
                            </a>
                            -
                            <a target="_blank">
                                <i class="fa fa-question"></i>
                                Help
                            </a>
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </body>
<!--    <script src="../static/js/common.js"></script>-->
    <script>
        const app = new Vue({
            el: "#app",
            data: {
                shop_name: "",
                seen: false,
                user_id: '',

            },
            mounted() {
                // this.search()
            },
            methods: {
                // confrim
                confirmBtnEvent: function () {
                    this.search()
                },
                // 搜索
                search: function () {
                    const that = this

                    console.log("search seller")
                    const token = window.localStorage.getItem("ishopping-token")

                    axios.defaults.headers.common = { Authorization: `${token}` }
                    axios

                        .get(api_url + "/admin/search_seller_id", {
                        params: {
                            shop_name:this.shop_name
                        }})
                        .then(function (resp) {
                            // handle success
                            if (resp.data.code === 0) {
                                that.user_id = resp.data.data.user_id
                                that.seen = true
                            } else {
                                console.log(resp.data.msg)
                            }
                        })
                       
                        .catch(function (cresp) {
                            // handle error
                            console.log(cresp.data.msg)
                        })
                },
                // 禁用
                edit(user_id) {
                    const that = this
                    axios({
                            method: "post",

                            url: api_url + "/admin/ban",
                            data: {
                                user_id: parseInt(user_id),
                            },
                        })
                        .then(function (resp) {
                            // handle success
                            if (resp.data.code === 0) {
                                alert('ban successfully')
                                this.search()
                                // that.ID = resp.data.data
                                // this.sellerList = resp.data.data
                                that.seen = true
                            } else {
                                console.log(resp.data.msg)
                            }
                        })
                        .catch(function (resp) {
                            // handle error
                            console.log(resp.data.msg)
                        })
                }
            },
        })
    </script>
</html>

<style>
    .table {
        margin: 0 auto;
        width: 1000px;
    }
</style>
