<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iShopping</title>
    <link rel="shortcut icon" href="../icon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/iconfont.css">
</head>
<body>
    <div id="login-box">
        <h1>Regist</h1>
        <div class="input-box">
            <select name="droplist" id="droplist">
                <option value="buyer">Buyer</option>
                <option value="seller">Seller</option>
            </select>
            <input id="uname" type="text" placeholder="3-12 chars for username">
        </div>
        <div class="input-box">
            <div id="eye" class="iconfont">&#xe61d;</div>
            <input id="upass" type="password" placeholder="6-20 chars for password">
        </div>
        <div id="error_box"><br></div>
        <button type="button" onclick="fnRegist()" class="btn-register">Regist</button>
</body>
<script type="text/javascript" src="../js/regist.js"></script>
</html>