body{
    background-image: url(../img/shopping.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#login-box{
    background-color: #00000068;
    text-align: center;
    margin: 0px auto;
    margin-top: 100px;
    width: 350px;
    height: 400px;
}

#login-box h1{
    padding-top: 60px;
    color: #ffffff;
}

#login-box .input-box{
    position: relative;
    margin-top: 15px;
}

#login-box .input-box input{
    border: none;
    background: none;
    border-bottom: #ffffff 2px solid;
    padding: 5px 10px;
    outline: none;
    color: #ffffff;
}
#login-box .input-box #droplist{
    position: absolute;
    left: 25px;
    top: 4px;
    background-color: #00000010;
    border-radius: 30%;
    border: none;
}
#login-box .input-box #eye{
    width: 16px;
    height: 17px;
    position: absolute;
    right: 80px;
    bottom: 4px;
    color: #ffffff;
}

#login-box .btn-login{
    margin-top: 30px;
    width: 100px;
    height: 25px;
    border-radius: 13px;
    outline: none;
    border: none;
}

#login-box .btn-login:hover{
    background-color: #fff;
}

#login-box .btn-login:active{
    background-color: deepskyblue;
}

#login-box .btn-register{
    margin-top: 30px;
    width: 100px;
    height: 25px;
    border-radius: 13px;
    outline: none;
    border: none;
}

#login-box .btn-register:hover{
    background-color: #fff;
}

#login-box .btn-register:active{
    background-color: deepskyblue;
}