<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Commodity Search</title>
        <link rel="shortcut icon" href="../static/icon/icon.jpg" type="image/x-icon" />
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"
        ></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css"
            integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0="
            crossorigin="anonymous"
        />
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"
            integrity="sha256-JLmknTdUZeZZ267LP9qB+/DT7tvxOOKctSKeUC2KT6E="
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
            <img alt="shop.png" height="35" src="../static/icon/shop.png" />
            <h5 class="my-0 mr-md-auto font-weight-normal"><a href="index.html">ISHOPPING</a></h5>
            <a href="index.html" class="btn btn-outline-primary">Home</a>
        </div>

        <div class="container" style="max-width: 960px" id="app">
            <label class="h3 text-primary" for="search" v-model="content">
                <i class="fa fa-search"></i>
                Search
            </label>
            <form class="form-inline" @submit.prevent="search">
                <input id="search" class="mb-2 form-control" type="text" v-model="content" />
                <button type="submit" class="btn btn-primary ml-4 mb-2">Confirm</button>
            </form>

            <div class="row mt-4" v-if="seen">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>name</th>
                            <th>price</th>
                            <th>detail</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="commodity in commodityList">
                            <td>{{ commodity.name }}</td>
                            <td>{{ commodity.price }}</td>
                            <td><a v-bind:href="getDetailUrl(commodity)">detail</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <footer class="pt-4 my-md-5 pt-md-5 border-top">
                <div class="row">
                    <div class="col-12 col-md">
                        <h5>Copyright&copy;2021</h5>
                        <p>
                            <a target="_blank">
                                <i class="fa fa-leaf"></i>
                                Blog
                            </a>
                            -
                            <a target="_blank">
                                <i class="fa fa-github"></i>
                                Github
                            </a>
                            -
                            <a target="_blank">
                                <i class="fa fa-question"></i>
                                Help
                            </a>
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </body>
    <script src="./static/js/common.js"></script>
    <script>
        const app = new Vue({
            el: "#app",
            data: {
                content: "",
                commodityList: [],
                seen: false,
            },
            methods: {
                getDetailUrl: function (commodity) {
                    return `commodity_detail.html?cid=${commodity.cid}`
                },
                search: function () {
                    const that = this
                    console.log("search commodity")
                    axios
                        .get(`${api_url}/commodity_search?content=${this.content}`)
                        .then(function (resp) {
                            // handle success
                            if (resp.data.code === 0) {
                                that.commodityList = resp.data.data.commodity_list
                                that.seen = true
                            } else {
                                console.log(resp.data.msg)
                            }
                        })
                        .catch(function (resp) {
                            // handle error
                            console.log(resp.data.msg)
                        })
                },
            },
        })
    </script>
</html>
