<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Commodity Search</title>
	<link rel="stylesheet" href="static/css/commodityDetailPage.css">
    <link rel="shortcut icon" href="./static/icon/icon.jpg" type="image/x-icon"/>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css"
          integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"
            integrity="sha256-JLmknTdUZeZZ267LP9qB+/DT7tvxOOKctSKeUC2KT6E=" crossorigin="anonymous"
    ></script>
</head>
<body>
<div class="topbar" id="navigation">
            <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
                <img alt="shop.png" height="35" src="static/img/shop.png" />
                <h5 class="my-0 mr-md-auto font-weight-normal"><a href="index.html">ISHOPPING</a></h5>
                <a href="commodity_search.html" class="btn btn-outline-primary ml-3">Search</a>
                <div v-if="isSignedIn == 0">
                    <a href="buyer/buyer_index.html" class="btn btn-outline-primary ml-3">BuyerHome</a>
                    <a href="#" @click="signOut()" class="btn btn-outline-primary ml-3">Sign Out</a>
                </div>
                <div v-if="isSignedIn == 1">
                    <a href="seller/seller_index.html" class="btn btn-outline-primary ml-3">SellerHome</a>
                    <a href="#" @click="signOut()" class="btn btn-outline-primary ml-3">Sign Out</a>
                </div>
                <div v-if="isSignedIn == 2">
                    <a href="admin/admin_index.html" class="btn btn-outline-primary ml-3">Admin</a>
                    <a href="#" @click="signOut()" class="btn btn-outline-primary ml-3">Sign Out</a>
                </div>
                <div v-if="isSignedIn == 3">
                    <a href="signin.html" class="btn btn-outline-primary ml-3">Sign In</a>
                </div>
                <!-- <a href="#" class="btn btn-outline-primary ml-3"><i class="iconfont">&#xe63f;</i>Cart</a> -->
            </div>
        </div>

<div class="container" style="max-width: 960px" id="app">
    <label class="h3 text-primary" for="search">
        <i class="fa fa-search"></i>
        Search
    </label>
    <form class="form-inline" @submit.prevent="search">
        <input id="search" class="mb-2 form-control" type="text" placeholder="key word" v-model="content"/>
        <label class="h7 text-primary">&nbsp&nbsp&nbspprice range:&nbsp</label>
        <input type="number" min="0.00" step="0.01" style="width:90px" class="mb-2 form-control" id="price1"
               placeholder="minimum price" v-model.number="price_min"/>
        <label class="h7 text-primary">&nbsp-&nbsp</label>
        <input type="number" min="0.00" step="0.01" style="width:90px" class="mb-2 form-control" id="price2"
               placeholder="maximum price" v-model.number="price_max"/>
        <button type="submit" class="btn btn-primary ml-4 mb-2">Confirm</button>
    </form>

    <div class="row mt-4" v-if="seen">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>name</th>
                <th>price</th>
                <th>detail</th>
                <th>thumbnail</th>
                <th>sales</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="commodity in commodityList">
                <td>{{ commodity.name }}</td>
                <td>{{ commodity.price }}</td>
                <td><a v-bind:href="getDetailUrl(commodity)">detail</a></td>
                <td><div class="thumbnailBox"><img :src="commodity.thumbnail" alt="" height="100%"></div></td>
                <td>{{ commodity.sales }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <form class="form-inline" @submit.prevent="pageClick">
        <button v-on:click="page_index--,pageClick()" class="btn btn-primary ml-4 mb-2">previous</button>
        <p>{{ page_index + 1 }}</p>
        <!-- <input type="number" min="1" step="1" class="mb-2 form-control" id="page_index" placeholder="page number" v-model.number="page_index" /> -->
        <button v-on:click="page_index++,pageClick()" class="btn btn-primary ml-4 mb-2">Next</button>
    </form>
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <h5>Copyright&copy;2021</h5>
                <p>
                    <a target="_blank">
                        <i class="fa fa-leaf"></i>
                        Blog
                    </a>
                    -
                    <a target="_blank">
                        <i class="fa fa-github"></i>
                        Github
                    </a>
                    -
                    <a target="_blank">
                        <i class="fa fa-question"></i>
                        Help
                    </a>
                </p>
            </div>
        </div>
    </footer>
</div>
		<script src="static/js/common.js"></script>
        <script src="static/js/navigationBar.js"></script>
		<script src="static/js/commoditySearch.js"></script>
</body>
</html>
