<!DOCTYPE html>
<html>
<head>
    <title>Search</title>
    <meta charset="ust-8"/>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/search.css">
    
    <script src="js/search.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
</head>
<body>
    <div class="header">
        <!--navigation-->
        <div class="top-menu">
            <a target="_blank" href="//..."><label class="cityName">Beijing</label></a>
            <ul>
                <li class="red"><a target="_blank" href="//..."><p>login</p></a></li>
                <em></em>
                <li><a target="_blank" href="//..."><p>signup</p></a></li>
                <em></em>
                <li><a target="_blank" href="//..."><p>myaccount</p></a><i class="popUpBtn"></i></li>
                <em></em>
                <li><a target="_blank" href="//..."><p>other</p></a></li>
            </ul>
        </div>
        <!--search header-->
        <div class="search-wrapper">
            <input type="text" class="headerSearch" placeholder="some tip" style="outline: none;"/>
            <input type="button" class="searchBtn" onclick="window.open(https://.../)" value="Search"/>
            <div class="myShopDiv"><a target="_blank" href="//...">Shopping Cart</a><i class="shopN"></i></div>
        </div>
    </div>
    <div class="body_search">
        <div class="body">
            <div class="" id="box">
                <ul>
                    
                    <li v-for="v in json.list">
                        <img v-bind:src="v.src" alt="">
                        <h4>{{v.commodity_name}}</h4>
                        <p>{{v.price}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <script>
        
        new Vue({
            el:'#box',
            data:{
                json:{
                    list:[
                        {
                            src:"...",
                            commodity_name:"1123",
                            price: 121

                        }
                    ]
                }
            },
            mounted () {
                axios
                .get('/api/commodity_search')
                .then(response => (this.json.list = response.data))
                .catch(function (error) { 
                    console.log(error);
                });
            }
        })
        
    </script>
</body>
</html>